src/flows/Registration-17.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Email_Verification</name>
        <label>Email Verification</label>
        <locationX>1814</locationX>
        <locationY>880</locationY>
        <actionName>Contact.Rebuild_New_Registration</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Existing_Team</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputContactId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Registration_Existing</name>
        <label>Registration Existing</label>
        <locationX>557</locationX>
        <locationY>1381</locationY>
        <actionName>CampaignMember.SR_Registration_Existing</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Finished_Registration_ExistingMember</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCampaignMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Registration_New</name>
        <label>Registration New</label>
        <locationX>561</locationX>
        <locationY>1274</locationY>
        <actionName>CampaignMember.SR_Registration_New</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Finished_Registration_New</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCampaignMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Clear_Team_Info</name>
        <label>Clear Team Info</label>
        <locationX>857</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>soMember.SR_Team_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soMember.AccountAffiliation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soMember.Hear_About__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soMember.Hear_About_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soMember.SR_Age_Range_0_5_years_old__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soMember.SR_Age_Range_6_11_years_old__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soMember.SR_Age_Range_12_14_years_old__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soMember.SR_Age_Range_15_17_years_old__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soMember.SR_Age_Range_18_years_old__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soMember.SR_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soMember.SR_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soMember.SR_Opt_Out_Newsletter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Challenge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flow_Id</name>
        <label>Flow Id</label>
        <locationX>182</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>varFlowId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Body_Start</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Overrides</name>
        <label>Overrides</label>
        <locationX>388</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>varInputContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOverrideInputContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputCampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOverrideInputCampaignId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Welcome</name>
        <label>Set Welcome</label>
        <locationX>928</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>varWelcomeMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Welcome back for another Challenge! This is the information you gave us last time, if anything has changed please update it.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTakenPreviousChallenge</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Existing_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Body_Finish</name>
        <label>Finish Log</label>
        <locationX>185</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>varTaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FlowMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-Finish</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Logging_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Body_Start</name>
        <label>Start Log</label>
        <locationX>337</locationX>
        <locationY>33</locationY>
        <assignmentItems>
            <assignToReference>varTaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FlowMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-Start</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Body_Start_0</name>
        <label>Error Log</label>
        <locationX>3227</locationX>
        <locationY>91</locationY>
        <assignmentItems>
            <assignToReference>varTaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FlowMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Logging_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>testing</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Choice1&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Choice2&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Choice3&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Label1&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Label2&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Label3&lt;/FONT&gt;&lt;/DIV&gt;</promptText>
        </userInput>
        <value>
            <elementReference>soMember.SR_Country__c</elementReference>
        </value>
    </choices>
    <constants>
        <name>constLine</name>
        <dataType>String</dataType>
        <value>
            <stringValue>__________________________________________________</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Overrides</name>
        <label>Use Overrides</label>
        <locationX>185</locationX>
        <locationY>189</locationY>
        <defaultConnector>
            <targetReference>Confirm_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Overrides</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOverrideInputContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOverrideInputCampaignId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Overrides</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirm_Email</name>
        <label>Confirm Email</label>
        <locationX>186</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ConfirmEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputConfirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_EmailVerified</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Team_Checked</name>
        <label>Create New Team</label>
        <locationX>1440</locationX>
        <locationY>436</locationY>
        <defaultConnector>
            <targetReference>Lookup_Org_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CreateNewContact_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Screen_Create_New_Team</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Team_Info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Verified</name>
        <label>Email Verified</label>
        <locationX>370</locationX>
        <locationY>1167</locationY>
        <defaultConnector>
            <targetReference>Email_Verify_Enabled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_EmailVerified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputConfirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Verify_Enabled</name>
        <label>Email Verify Enabled</label>
        <locationX>553</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Existing_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_EmailVerify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputVerifyEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Verfication</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Verify_Enabled_0</name>
        <label>Email Verify Enabled</label>
        <locationX>1635</locationX>
        <locationY>872</locationY>
        <defaultConnector>
            <targetReference>Existing_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_EmailVerify_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputVerifyEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Verification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Contact</name>
        <label>Existing Contact NotUnique</label>
        <locationX>751</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>Clear_Team_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ContactExisting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Welcome</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Contact_Check</name>
        <label>Existing Contact Unique</label>
        <locationX>1405</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistingContactCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Verify_Enabled_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Member</name>
        <label>Existing Member</label>
        <locationX>385</locationX>
        <locationY>1277</locationY>
        <defaultConnector>
            <targetReference>Registration_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistingMember</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTakenPreviousChallenge</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Existing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Team_Check</name>
        <label>Existing Team Check</label>
        <locationX>1989</locationX>
        <locationY>861</locationY>
        <defaultConnector>
            <targetReference>Create_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistingTeam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCampaignMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Logging</name>
        <label>Logging</label>
        <locationX>498</locationX>
        <locationY>35</locationY>
        <defaultConnector>
            <targetReference>Check_Overrides</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Logging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLogEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Log_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Logging_0</name>
        <label>Logging</label>
        <locationX>3397</locationX>
        <locationY>92</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Logging_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLogEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Update_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Logging_0_0</name>
        <label>Logging</label>
        <locationX>371</locationX>
        <locationY>1052</locationY>
        <defaultConnector>
            <targetReference>Email_Verified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Logging_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLogEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Update_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>BOTs are trying to do SQL Injection
http://bezosfamilyfoundation.force.com/sr_registration?varInputCampaignId=7010G000000vtMk&amp;amp;version=9

This comes in w/ varInputCampaignId set to 
7010G000000vtMk&amp;amp;version=9%&apos; UNION ALL SELECT NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL#</description>
        <name>SQL_Injection_Attempt</name>
        <label>SQL Injection Attempt</label>
        <locationX>10</locationX>
        <locationY>7</locationY>
        <defaultConnector>
            <targetReference>Flow_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SQL_Injection_Attempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSQLInjectionAttempt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Org</name>
        <label>Valid Org</label>
        <locationX>1219</locationX>
        <locationY>711</locationY>
        <defaultConnector>
            <targetReference>Create_Org</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ValidOrg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrganizationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Unique</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Kasey: Updated finished screens for Ocean Challenge</description>
    <dynamicChoiceSets>
        <name>Countries</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SR_Country__c</picklistField>
        <picklistObject>CampaignMember</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HearAbout</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hear_About__c</picklistField>
        <picklistObject>CampaignMember</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrganizationTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Org_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrgSubTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Org_Sub_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Roles</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SR_RoleList__c</picklistField>
        <picklistObject>CampaignMember</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>State_Province</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SR_State_Province__c</picklistField>
        <picklistObject>CampaignMember</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Teams</name>
        <dataType>String</dataType>
        <displayField>SR_Team_Name__c</displayField>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputCampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.Email</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>soMember.AccountAffiliation__c</assignToReference>
            <field>AccountAffiliation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.Hear_About_Other__c</assignToReference>
            <field>Hear_About_Other__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.Hear_About__c</assignToReference>
            <field>Hear_About__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_Age_Range_0_5_years_old__c</assignToReference>
            <field>SR_Age_Range_0_5_years_old__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_Age_Range_12_14_years_old__c</assignToReference>
            <field>SR_Age_Range_12_14_years_old__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_Age_Range_15_17_years_old__c</assignToReference>
            <field>SR_Age_Range_15_17_years_old__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_Age_Range_18_years_old__c</assignToReference>
            <field>SR_Age_Range_18_years_old__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_Age_Range_6_11_years_old__c</assignToReference>
            <field>SR_Age_Range_6_11_years_old__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_City__c</assignToReference>
            <field>SR_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_Country__c</assignToReference>
            <field>SR_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_Opt_Out_Newsletter__c</assignToReference>
            <field>SR_Opt_Out_Newsletter__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_RoleList__c</assignToReference>
            <field>SR_RoleList__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_Role__c</assignToReference>
            <field>SR_Role__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_Team_Name__c</assignToReference>
            <field>SR_Team_Name__c</field>
        </outputAssignments>
        <sortField>SR_Team_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>BuildFormData</name>
        <dataType>String</dataType>
        <expression>{!Screen_FirstName} + &quot;, &quot; + {!Screen_LastName} + &quot;&lt;br&gt;&quot; +
{!Screen_Email_Register} + &quot;&lt;br&gt;&quot; +
&quot;Team: &quot; + {!Screen_Team} + &quot;&lt;br&gt;&quot; +
&quot;Organization: &quot; + {!Screen_Organization_Name} + &quot;&lt;br&gt;&quot; +
IF({!Screen_X0_5_years_old}, &quot;0 - 5 years old&quot; + &quot;&lt;br&gt;&quot;, &quot;&quot;) + 
IF({!Screen_X6_11_years_old}, &quot;6 - 11 years old&quot; + &quot;&lt;br&gt;&quot;, &quot;&quot;) +
IF({!Screen_X12_14_years_old}, &quot;12 - 14 years old&quot; + &quot;&lt;br&gt;&quot;, &quot;&quot;) +
IF({!Screen_X15_17_years_old}, &quot;15 - 17 years old&quot; + &quot;&lt;br&gt;&quot;, &quot;&quot;) +
IF({!Screen_X18_years_old}, &quot;18+ years old&quot; + &quot;&lt;br&gt;&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>BuildFormDataForObject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!BuildFormData}, &quot;&lt;br&gt;&quot;, &quot;_BR_ENCODED_&quot;)</expression>
    </formulas>
    <formulas>
        <name>FlowMessage</name>
        <dataType>String</dataType>
        <expression>TEXT({!varFlowId}) + &quot; &quot; + {!Screen_Email_Register} + &quot; Flow Registration&quot;</expression>
    </formulas>
    <formulas>
        <description>Check for possible SQL Injection Attempt on malformed input params</description>
        <name>IsSQLInjectionAttempt</name>
        <dataType>Boolean</dataType>
        <expression>IF( LEN({!varInputCampaignId}) &gt; 18 || LEN({!varInputCampaignId}) &lt;= 0, true, false)</expression>
    </formulas>
    <formulas>
        <name>NOT_Screen_OptInNewsletter</name>
        <dataType>Boolean</dataType>
        <expression>NOT {!Screen_OptInNewsletter}</expression>
    </formulas>
    <formulas>
        <name>NOT_SR_Opt_Out_Newsletter</name>
        <dataType>Boolean</dataType>
        <expression>NOT {!soMember.SR_Opt_Out_Newsletter__c}</expression>
    </formulas>
    <interviewLabel>Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration</label>
    <loops>
        <name>Loop_Existing_Members</name>
        <label>Loop Existing Members</label>
        <locationX>1239</locationX>
        <locationY>346</locationY>
        <assignNextValueToReference>soMember</assignNextValueToReference>
        <collectionReference>soCollectionMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Pick_Existing_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clear_Team_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Members</name>
        <label>Loop Members</label>
        <locationX>187</locationX>
        <locationY>627</locationY>
        <assignNextValueToReference>soMember</assignNextValueToReference>
        <collectionReference>soCollectionMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_MemberVerfied</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Body_Finish</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1633</locationX>
        <locationY>749</locationY>
        <assignRecordIdToReference>varInputContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Email_Verify_Enabled_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varOrganizationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Screen_Email_Register</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Screen_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Screen_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Screen_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>Screen_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>Screen_StateProvince</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Email_Newsletter__c</field>
            <value>
                <elementReference>Screen_OptInNewsletter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Students_Rebuild_Team_Name__c</field>
            <value>
                <elementReference>Screen_Team</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <description>UserId 501c: 005F0000001kJvsIAE</description>
        <name>Create_Log_Task</name>
        <label>Create Log Task</label>
        <locationX>680</locationX>
        <locationY>32</locationY>
        <assignRecordIdToReference>varLogTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Overrides</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005F0000001kJvsIAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>FlowMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Member</name>
        <label>Create Member</label>
        <locationX>2130</locationX>
        <locationY>936</locationY>
        <assignRecordIdToReference>varCampaignMemberId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Member</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountAffiliation__c</field>
            <value>
                <elementReference>varOrganizationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>varInputCampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varInputContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Team_Name__c</field>
            <value>
                <elementReference>Screen_Team</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Org</name>
        <label>Create Org</label>
        <locationX>1400</locationX>
        <locationY>649</locationY>
        <assignRecordIdToReference>varOrganizationId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Contact_Unique</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Screen_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Screen_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Screen_StateProvince</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Screen_Organization_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Sub_Type_Other__c</field>
            <value>
                <elementReference>Screen_OrgSubType_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Sub_Type__c</field>
            <value>
                <elementReference>Screen_OrgSubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Type_Other__c</field>
            <value>
                <elementReference>Screen_Organization_Type_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_Type__c</field>
            <value>
                <elementReference>Screen_Organization_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Existing_Team</name>
        <label>Existing Team</label>
        <locationX>1980</locationX>
        <locationY>751</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Team_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputCampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputContactId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varCampaignMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>378</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputCampaignId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soCampaign.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soCampaign.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_EmailVerified</name>
        <label>Get Contact</label>
        <locationX>188</locationX>
        <locationY>419</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_Members</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>soContact.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_NonUnique</name>
        <label>Get Contact</label>
        <locationX>768</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Contact</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Screen_Email_Register</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>soContact.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInputContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Unique</name>
        <label>Get Contact</label>
        <locationX>1407</locationX>
        <locationY>759</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Contact_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Screen_Email_Register</elementReference>
            </value>
        </filters>
        <filters>
            <field>Students_Rebuild_Team_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Screen_Team</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>soContact.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInputContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Org</name>
        <label>Lookup Org</label>
        <locationX>1036</locationX>
        <locationY>688</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Org</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Screen_Organization_Name</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varOrganizationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Org_0</name>
        <label>Lookup Org</label>
        <locationX>1239</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Challenge</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soMember.AccountAffiliation__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>soOrganization.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Search_Existing_Members</name>
        <label>Search Existing Members</label>
        <locationX>1077</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Existing_Members</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputCampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.Email</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>soCollectionMembers</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_Members</name>
        <label>Search Members</label>
        <locationX>190</locationX>
        <locationY>524</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Members</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.Email</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>soCollectionMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Log_Update_0</name>
        <label>Log Update</label>
        <locationX>3400</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLogTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Log_Update_0_0</name>
        <label>Log Update</label>
        <locationX>180</locationX>
        <locationY>1081</locationY>
        <connector>
            <targetReference>Email_Verified</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLogTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member</name>
        <label>Update Member</label>
        <locationX>1992</locationX>
        <locationY>1012</locationY>
        <connector>
            <targetReference>Logging_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCampaignMemberId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountAffiliation__c</field>
            <value>
                <elementReference>varOrganizationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hear_About_Other__c</field>
            <value>
                <elementReference>Screen_HearAbout_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hear_About__c</field>
            <value>
                <elementReference>Screen_HearAbout</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Age_Range_0_5_years_old__c</field>
            <value>
                <elementReference>Screen_X0_5_years_old</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Age_Range_12_14_years_old__c</field>
            <value>
                <elementReference>Screen_X12_14_years_old</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Age_Range_15_17_years_old__c</field>
            <value>
                <elementReference>Screen_X15_17_years_old</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Age_Range_18_years_old__c</field>
            <value>
                <elementReference>Screen_X18_years_old</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Age_Range_6_11_years_old__c</field>
            <value>
                <elementReference>Screen_X6_11_years_old</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_City__c</field>
            <value>
                <elementReference>Screen_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Country__c</field>
            <value>
                <elementReference>Screen_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_FormData__c</field>
            <value>
                <elementReference>BuildFormDataForObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Opt_Out_Newsletter__c</field>
            <value>
                <elementReference>NOT_Screen_OptInNewsletter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_RoleList__c</field>
            <value>
                <elementReference>Screen_Role</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Role__c</field>
            <value>
                <elementReference>Screen_Role_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_State_Province__c</field>
            <value>
                <elementReference>Screen_StateProvince</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Taken_Students_Rebuild_Challenge_Before__c</field>
            <value>
                <elementReference>varTakenPreviousChallenge</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MemberVerfied</name>
        <label>Update Member</label>
        <locationX>408</locationX>
        <locationY>621</locationY>
        <connector>
            <targetReference>Loop_Members</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soMember.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SR_Email_Verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <screens>
        <name>Email</name>
        <label>Email</label>
        <locationX>599</locationX>
        <locationY>292</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact_NonUnique</targetReference>
        </connector>
        <fields>
            <name>Welcome_Message1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_serif&quot; STYLE=&quot;font-size:48px&quot; COLOR=&quot;#0B7577&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Register a Team!&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_Message2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Welcome to the Students Rebuild &lt;FONT COLOR=&quot;#0B7577&quot;&gt;&lt;B&gt;{!soCampaign.Name} &lt;/B&gt;&lt;/FONT&gt;registration form.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_Message3</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;To get started, please enter your email address below. Even if youve registered for one of our Challenges in the past, please register for this Challenge.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Message5</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;There are no limits to team size&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;teams can be one person or as many as youd like. And you dont have to be at a school to participate!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_Message4</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Have a question? Please &lt;A HREF=&quot;info@studentsrebuild.org&quot; TARGET=&quot;_blank&quot;&gt;contact us&lt;/A&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Email_Register</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>REGEX({!Screen_Email_Register},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Verfication</name>
        <label>Email Verification</label>
        <locationX>944</locationX>
        <locationY>1168</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Verify_Message1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Screen_FirstName},&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Verify_Message2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Thank-you for filling out the registration for Students Rebuild.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Verify_Message3</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Action Required&lt;/B&gt;&lt;FONT COLOR=&quot;#666666&quot;&gt;&lt;B&gt;: Check your email, &lt;/B&gt;&lt;B&gt;&lt;I&gt;{!Screen_Email_Register}&lt;/I&gt;&lt;/B&gt;&lt;B&gt;, for a verification link to complete the registration.&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Verify_Message4</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Have questions? &lt;A HREF=&quot;mailto:info@studentsrebuild.org?Registration%20Question&quot; TARGET=&quot;_blank&quot;&gt;Contact us.&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>3565</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sorry, looks like something went wrong!&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!constLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!constLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please &lt;A HREF=&quot;info@studentsrebuild.org&quot; TARGET=&quot;_blank&quot;&gt;contact us&lt;/A&gt; with the error details provided on this screen.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finished_Registration_ExistingMember</name>
        <label>Finished Existing</label>
        <locationX>945</locationX>
        <locationY>1376</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayText_Hi_Existing</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Hi {!Screen_FirstName},&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message1_Existing</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Welcome back and thank you for registering for the &lt;FONT COLOR=&quot;#0B7577&quot; KERNING=&quot;1&quot;&gt;{!soCampaign.Name}&lt;/FONT&gt;. Now, its time to take action!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message2_Existing</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Want to dive right into the Challenge? Check out our &lt;A HREF=&quot;http://www.studentsrebuild.org/sites/default/files/OC_Leader%20Guide_FNL.pdf&quot; TARGET=&quot;_blank&quot;&gt;Leader Guide&lt;/A&gt; for in-depth Challenge details!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message3_Existing</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Look out for a registration confirmation from us. If you don&amp;apos;t see an email, please double-check that it didn&amp;apos;t go to your junk folder.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message6_Existing</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Have a question about the Challenge? Find the answer &lt;A HREF=&quot;http://www.studentsrebuild.org/ocean-faq&quot; TARGET=&quot;_blank&quot;&gt;here&lt;/A&gt; or &lt;A HREF=&quot;mailto:info@studentsrebuild.org&quot; TARGET=&quot;_blank&quot;&gt;email us&lt;/A&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Form_Existing</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;&lt;U&gt;Registration Form Details&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!BuildFormData}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finished_Registration_New</name>
        <label>Finished New</label>
        <locationX>946</locationX>
        <locationY>1280</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayText_Hi_New</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Hi {!Screen_FirstName},&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message1_New</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thanks for registering for the &lt;FONT COLOR=&quot;#0B7577&quot; KERNING=&quot;1&quot;&gt;{!soCampaign.Name} &lt;/FONT&gt;and joining our global community. Now, its time to take action!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message2_New</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Want to dive right into the Challenge? Check out our &lt;A HREF=&quot;http://www.studentsrebuild.org/sites/default/files/OC_Leader%20Guide_FNL.pdf&quot; TARGET=&quot;_blank&quot;&gt;Leader Guide&lt;/A&gt; for in-depth Challenge details!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message3_New</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Look out for a registration confirmation from us. If you don&amp;apos;t see an email, please double-check that it didn&amp;apos;t go to your junk folder.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message6_New</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Have a question about the Challenge? Find the answer &lt;A HREF=&quot;http://studentsrebuild.org/ocean-faq&quot; TARGET=&quot;_blank&quot;&gt;here&lt;/A&gt; or &lt;A HREF=&quot;mailto:info@studentsrebuild.org&quot; TARGET=&quot;_blank&quot;&gt;email us&lt;/A&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Form_New</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;&lt;U&gt;Registration Form Details&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!BuildFormData}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pick_Existing_Team</name>
        <label>Pick Existing Team</label>
        <locationX>1441</locationX>
        <locationY>342</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Team_Checked</targetReference>
        </connector>
        <fields>
            <name>DisplayMessage_Hi</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Hi {!soContact.FirstName}!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Message2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Looks like youve already registered a team for the &lt;FONT COLOR=&quot;#0B7577&quot; KERNING=&quot;1&quot;&gt;{!soCampaign.Name}&lt;/FONT&gt;! Select an existing team to make any updates to your information or check the box to create a new team.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Select_Contact</name>
            <choiceReferences>Teams</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Team&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_Create_New_Team</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Create a New Team&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Challenge</name>
        <label>Challenge Info</label>
        <locationX>857</locationX>
        <locationY>689</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Org</targetReference>
        </connector>
        <fields>
            <name>WelcomeText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_serif&quot; STYLE=&quot;font-size:28px&quot; COLOR=&quot;#0B7577&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varWelcomeMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_FirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>soContact.FirstName</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;First Name&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_LastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>soContact.LastName</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Last Name&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Empty_Space1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Newsletter</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Yes, add me to the monthly email newsletter list!&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_OptInNewsletter</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>NOT_SR_Opt_Out_Newsletter</elementReference>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Empty_Space2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Team_Info</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Tell us a little bit about your team.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Team</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Create a Team Name:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Team</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>soMember.SR_Team_Name__c</elementReference>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TeamNameInfo_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;i.e., Seatle Caring Creatures, Sea Change, Mr. Smith&amp;apos;s 2nd Period Social Studies, etc. Get creative! Your team name is what shows on our interactive team map!&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Empty_Space3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AgeRange_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;What age range best describes your team? (Choose all that apply)&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_X0_5_years_old</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>soMember.SR_Age_Range_0_5_years_old__c</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;0 - 5 years old&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_X6_11_years_old</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>soMember.SR_Age_Range_6_11_years_old__c</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;6 - 11 years old&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_X12_14_years_old</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>soMember.SR_Age_Range_12_14_years_old__c</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;12 - 14 years old&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_X15_17_years_old</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>soMember.SR_Age_Range_15_17_years_old__c</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;15 - 17 years old&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_X18_years_old</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>soMember.SR_Age_Range_18_years_old__c</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;18+ years old&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Empty_Space4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Team_Info2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Now, tell us a little bit about yourself!&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Organization_Type</name>
            <choiceReferences>OrganizationTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Organization Type&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_Organization_Type_Other</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>-- Specify Other --</stringValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_OrgSubType</name>
            <choiceReferences>OrgSubTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Organization SubType&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_OrgSubType_Other</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>-- Specify Other --</stringValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_Organization_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>soOrganization.Name</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Organization Name&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>display_text2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;i.e., ABC Elementary, Jones Family, Girl Scout Troop 1234&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Empty_Space5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Country</name>
            <choiceReferences>Countries</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Country&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_StateProvince</name>
            <choiceReferences>State_Province</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>soMember.SR_City__c</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;City&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Empty_Space6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Role</name>
            <choiceReferences>Roles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Role&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_Role_Other</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>-- Specify Other --</stringValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Empty_Space7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_HearAbout</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;How did you hear about the {!soCampaign.Name}?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_HearAbout</name>
            <choiceReferences>HearAbout</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_HearAbout_Other</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>-- Specify Other --</stringValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>SQL_Injection_Attempt</startElementReference>
    <textTemplates>
        <name>WelcomeNew</name>
        <text>Welcome to Students Rebuild.  Please enter your informatiion and then click Next to register your team.

Good luck and welcome to Students Rebuild.</text>
    </textTemplates>
    <textTemplates>
        <name>WelcomeReturning</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!soContact.FirstName},&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Welcome back to Students Rebuild.  Please confirm your informatiion and then click Next to register your new team.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Good luck and glad to have you back for another Students Rebuild.&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>WelcomeTemplate</name>
        <text>Template</text>
    </textTemplates>
    <variables>
        <name>soCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>soCollectionContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>soCollectionContactsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>soCollectionMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>soContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>soMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>soOrganization</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varCampaignMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varEmailVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varFlowId</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Facing Difference Challenge: 7010G000000vtMk
Ocean Challenge: 7010G000001VK2U</description>
        <name>varInputCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>7010G000001VK2U</stringValue>
        </value>
    </variables>
    <variables>
        <description>Confirmation of email</description>
        <name>varInputConfirm</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varInputContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varInputVerifyEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varLogEnabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varLogTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNoteMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!FlowMessage} Start</stringValue>
        </value>
    </variables>
    <variables>
        <name>varOptOutNewsletter</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varOrganizationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOverrideInputCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>daveb@501commons.org: 003c000000p9eFCAAY
dboyceman@hotmail.com: 003c000000rX6QmAAK</description>
        <name>varOverrideInputContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTakenPreviousChallenge</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varTaskDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWelcomeMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Welcome to Students Rebuild!</stringValue>
        </value>
    </variables>
</Flow>
