src/flows/Submission-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>280</locationX>
        <locationY>1157</locationY>
        <actionName>CampaignMember.SR_Submission</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Body_Finish</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>soMember.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Build_SR_History</name>
        <label>Build SR History</label>
        <locationX>82</locationX>
        <locationY>808</locationY>
        <assignmentItems>
            <assignToReference>varSRResultHistory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BuildSRHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SR_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flow_Id</name>
        <label>Flow Id</label>
        <locationX>22</locationX>
        <locationY>13</locationY>
        <assignmentItems>
            <assignToReference>varFlowId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Body_Start</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Overrides</name>
        <label>Overrides</label>
        <locationX>385</locationX>
        <locationY>147</locationY>
        <assignmentItems>
            <assignToReference>varInputContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOverrideInputContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputCampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOverrideInputCampaignId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Bug in Flow where the validate on the results wasn&apos;t working.</description>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>1187</locationX>
        <locationY>800</locationY>
        <assignmentItems>
            <assignToReference>varErrorResults</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error: Result must be larger than 0 and larger than the previous value.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Challenge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Outputs</name>
        <label>Set Outputs</label>
        <locationX>1176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varOutputMemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soMember.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Organization</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Return_Url</name>
        <label>Set Return Url</label>
        <locationX>979</locationX>
        <locationY>505</locationY>
        <assignmentItems>
            <assignToReference>varOutputReturnUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/sr_newmember</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finished_Registration_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Body_Finish</name>
        <label>Finish Log</label>
        <locationX>592</locationX>
        <locationY>1158</locationY>
        <assignmentItems>
            <assignToReference>varTaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FlowMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-Finish</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Logging_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Body_Start</name>
        <label>Start Log</label>
        <locationX>179</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>varTaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FlowMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-Start</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Body_Start_0</name>
        <label>Error Log</label>
        <locationX>3227</locationX>
        <locationY>91</locationY>
        <assignmentItems>
            <assignToReference>varTaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FlowMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Logging_0</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constLine</name>
        <dataType>String</dataType>
        <value>
            <stringValue>__________________________________________________</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Overrides</name>
        <label>Use Overrides</label>
        <locationX>182</locationX>
        <locationY>150</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Overrides</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOverrideInputContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOverrideInputCampaignId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Overrides</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Contact</name>
        <label>Existing Contact NotUnique</label>
        <locationX>774</locationX>
        <locationY>421</locationY>
        <defaultConnector>
            <targetReference>Set_Return_Url</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ContactExisting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Existing_Members</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Logging</name>
        <label>Logging</label>
        <locationX>340</locationX>
        <locationY>38</locationY>
        <defaultConnector>
            <targetReference>Check_Overrides</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Logging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLogEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Log_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Logging_0</name>
        <label>Logging</label>
        <locationX>3397</locationX>
        <locationY>92</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Logging_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLogEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Update_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Logging_0_0</name>
        <label>Logging</label>
        <locationX>775</locationX>
        <locationY>1158</locationY>
        <defaultConnector>
            <targetReference>Finished_Submission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Logging_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLogEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Update_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Result_Field</name>
        <label>Result Field</label>
        <locationX>281</locationX>
        <locationY>654</locationY>
        <defaultConnector>
            <targetReference>SR_History</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ResultField</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soSRResultHistory.Field</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SR_Number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SR_History_Lookup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Results</name>
        <label>Valid Results</label>
        <locationX>1185</locationX>
        <locationY>926</locationY>
        <defaultConnector>
            <targetReference>Set_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ValidResults</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Screen_TotalItems</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>soMember.SR_Number_of_Items__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Screen_TotalItems</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SR_Result</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_SR_Result</name>
        <label>Valid SR Result</label>
        <locationX>779</locationX>
        <locationY>926</locationY>
        <defaultConnector>
            <targetReference>Create_SR_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ValidSRResult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSRResultId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SR_Result</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Kasey update PDF copy</description>
    <dynamicChoiceSets>
        <name>Countries</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SR_Country__c</picklistField>
        <picklistObject>CampaignMember</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HearAbout</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hear_About__c</picklistField>
        <picklistObject>CampaignMember</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Roles</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SR_RoleList__c</picklistField>
        <picklistObject>CampaignMember</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Teams</name>
        <dataType>String</dataType>
        <displayField>SR_Team_Name__c</displayField>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputCampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.Email</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>soMember.AccountAffiliation__c</assignToReference>
            <field>AccountAffiliation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_Number_of_Items__c</assignToReference>
            <field>SR_Number_of_Items__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_Number_of_Young_People__c</assignToReference>
            <field>SR_Number_of_Young_People__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_Result__c</assignToReference>
            <field>SR_Result__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_Team_Name__c</assignToReference>
            <field>SR_Team_Name__c</field>
        </outputAssignments>
        <sortField>SR_Team_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>BuildFormData</name>
        <dataType>String</dataType>
        <expression>&quot;Unique Id for your mail package: &quot; + {!soMember.Id} + &quot;&lt;br&gt;&quot; +
{!soContact.FirstName} + &quot; &quot; + {!soContact.LastName} + &quot;&lt;br&gt;&quot; +
{!soMember.Email} + &quot;&lt;br&gt;&quot; +
&quot;Team: &quot; + {!soMember.SR_Team_Name__c} + &quot;&lt;br&gt;&quot; +
&quot;Organization: &quot; + {!soOrganization.Name} + &quot;&lt;br&gt;&quot; +
&quot;Total Items: &quot; + TEXT({!Screen_TotalItems}) + &quot;&lt;br&gt;&quot; +
&quot;Total Young People: &quot; + TEXT({!Screen_Total_Young_People}) +
&quot;&lt;br&gt;&lt;br&gt;&quot; + {!varSRResultHistory}</expression>
    </formulas>
    <formulas>
        <name>BuildFormDataForObject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!BuildFormData}, &quot;&lt;br&gt;&quot;, &quot;_BR_ENCODED_&quot;)</expression>
    </formulas>
    <formulas>
        <name>BuildPDFFormData</name>
        <dataType>String</dataType>
        <expression>&quot;Hi &quot;</expression>
    </formulas>
    <formulas>
        <name>BuildSRHistory</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(
LEFT(TEXT({!soSRResultHistory.CreatedDate} ),Find(&quot; &quot;, TEXT({!soSRResultHistory.CreatedDate} ))-1)
 + &quot; - &quot; +
&quot;Changed &quot; + 
TEXT({!soSRResultHistory.Field}) + &quot; to &quot; +
{!varNewValue} + &quot;&lt;br&gt;&quot;, &quot;_c&quot;, &quot;&quot;), &quot;_&quot;, &quot; &quot;), &quot;.0&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>FlowMessage</name>
        <dataType>String</dataType>
        <expression>TEXT({!varFlowId}) + &quot; &quot; + {!Screen_Email_Register} + &quot; Flow Registration&quot;</expression>
    </formulas>
    <interviewLabel>Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submission</label>
    <loops>
        <name>Loop_Existing_Members</name>
        <label>Loop Existing Members</label>
        <locationX>1202</locationX>
        <locationY>410</locationY>
        <assignNextValueToReference>soMember</assignNextValueToReference>
        <collectionReference>soCollectionMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Pick_Existing_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Return_Url</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SR_History</name>
        <label>SR History</label>
        <locationX>277</locationX>
        <locationY>811</locationY>
        <assignNextValueToReference>soSRResultHistory</assignNextValueToReference>
        <collectionReference>soCollectionSRResultHistory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Result_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <description>UserId 501c: 005F0000001kJvsIAE</description>
        <name>Create_Log_Task</name>
        <label>Create Log Task</label>
        <locationX>522</locationX>
        <locationY>35</locationY>
        <assignRecordIdToReference>varLogTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Overrides</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005F0000001kJvsIAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>FlowMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SR_Result</name>
        <label>Create SR Result</label>
        <locationX>777</locationX>
        <locationY>809</locationY>
        <assignRecordIdToReference>varSRResultId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_SR_Result</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>SR Result History</stringValue>
            </value>
        </inputAssignments>
        <object>SR_Result_Old__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>260</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputCampaignId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soCampaign.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soCampaign.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_NonUnique</name>
        <label>Get Contact</label>
        <locationX>776</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Screen_Email_Register</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>soContact.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInputContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization</name>
        <label>Get Organization</label>
        <locationX>992</locationX>
        <locationY>690</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Challenge</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soMember.AccountAffiliation__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>soOrganization.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SR_History</name>
        <label>Get SR History</label>
        <locationX>442</locationX>
        <locationY>807</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SR_History</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSRResultId</elementReference>
            </value>
        </filters>
        <object>SR_Result_Old__History</object>
        <outputReference>soCollectionSRResultHistory</outputReference>
        <queriedFields>Field</queriedFields>
        <queriedFields>OldValue</queriedFields>
        <queriedFields>NewValue</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_SR_Result</name>
        <label>Get SR Result</label>
        <locationX>995</locationX>
        <locationY>926</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_SR_Result</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soMember.SR_Result__c</elementReference>
            </value>
        </filters>
        <object>SR_Result_Old__c</object>
        <outputAssignments>
            <assignToReference>varSRResultId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Search_Existing_Members</name>
        <label>Search Existing Members</label>
        <locationX>1040</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Existing_Members</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputCampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.Email</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>soCollectionMembers</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Bug Workaround - If you try to reference soSRResultHistory.NewValue flow will fault so have to set the value on a variable</description>
        <name>SR_History_Lookup</name>
        <label>SR History</label>
        <locationX>83</locationX>
        <locationY>653</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_SR_History</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soSRResultHistory.Id</elementReference>
            </value>
        </filters>
        <object>SR_Result_Old__History</object>
        <outputAssignments>
            <assignToReference>varNewValue</assignToReference>
            <field>NewValue</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Log_Update_0</name>
        <label>Log Update</label>
        <locationX>3400</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLogTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Log_Update_0_0</name>
        <label>Log Update</label>
        <locationX>599</locationX>
        <locationY>1259</locationY>
        <connector>
            <targetReference>Finished_Submission</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLogTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member</name>
        <label>Update Member</label>
        <locationX>278</locationX>
        <locationY>1032</locationY>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soMember.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SR_FormData__c</field>
            <value>
                <elementReference>BuildFormDataForObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Number_of_Items__c</field>
            <value>
                <elementReference>Screen_TotalItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Number_of_Young_People__c</field>
            <value>
                <elementReference>Screen_Total_Young_People</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_PDF_FormData__c</field>
            <value>
                <elementReference>ttPDFFormData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Result__c</field>
            <value>
                <elementReference>varSRResultId</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SR_Result</name>
        <label>Update SR Result</label>
        <locationX>613</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Get_SR_History</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSRResultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SR_Number_of_Items__c</field>
            <value>
                <elementReference>Screen_TotalItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Number_of_Young_People_c__c</field>
            <value>
                <elementReference>Screen_Total_Young_People</elementReference>
            </value>
        </inputAssignments>
        <object>SR_Result_Old__c</object>
    </recordUpdates>
    <screens>
        <name>Email</name>
        <label>Email</label>
        <locationX>509</locationX>
        <locationY>303</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact_NonUnique</targetReference>
        </connector>
        <fields>
            <name>Welcome_Message1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_serif&quot; STYLE=&quot;font-size:48px&quot; COLOR=&quot;#0B7577&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Submit Your Final Numbers!&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_Message2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Thank you for taking the &lt;FONT COLOR=&quot;#0B7577&quot;&gt;&lt;B&gt;{!soCampaign.Name}&lt;/B&gt;&lt;/FONT&gt;!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_Message3</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;This is a brief form that allows you to submit your team&amp;apos;s numbers. If your team makes additional art, please come back to update your totals.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message5</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;To get started, enter the email used when registering your team.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_Message4</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Do you have a question or need help? &lt;A HREF=&quot;mailto:info@studentsrebuild.org?Registration%20Question&quot; TARGET=&quot;_blank&quot;&gt;Contact us.&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Email_Register</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>REGEX({!Screen_Email_Register},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>3565</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Sorry, it looks like something went wrong! &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!constLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!constLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Please &lt;A HREF=&quot;mailto:info@studentsrebuild.org?subject=Students%20Rebuild&quot; TARGET=&quot;_blank&quot;&gt;Contact us&lt;/A&gt; with the error details provided on this screen for help.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finished_Registration_0</name>
        <label>No Teams</label>
        <locationX>977</locationX>
        <locationY>593</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Submission_Message_NoTeam</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Sorry, but no teams were found associated with the provided email, {!Screen_Email_Register}.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message10</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Did you forget to register? If so, you can still register &lt;A HREF=&quot;http://www.studentsrebuild.org/register&quot; TARGET=&quot;_blank&quot;&gt;here&lt;/A&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finished_Message4_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Need some help? &lt;A HREF=&quot;mailto:info@studentsrebuild.org?Registration%20Question&quot; TARGET=&quot;_blank&quot;&gt;Contact us.&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finished_Submission</name>
        <label>Finished Submission</label>
        <locationX>907</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishedText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Hello &lt;FONT KERNING=&quot;1&quot;&gt;{!soContact.FirstName},&lt;FONT STYLE=&quot;font-size:12px&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finished_Message2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Thank you for submitting your final numbers to Students Rebuild! We&amp;apos;re so grateful that you and your team took part in the &lt;FONT COLOR=&quot;#0B7577&quot;&gt;&lt;B&gt;{!soCampaign.Name}&lt;/B&gt;&lt;/FONT&gt;. &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Finished4</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;If you plan on mailing in your items, there&amp;apos;s one more step! Select the Print PDF button below for a PDF file of your submission to include in your mailed package. You will also receive an email with your submission details sent to {!Screen_Email_Register} in case you need to print at a later time.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Spacer1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Spacer2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Spacer3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Spacer4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_FormData</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;&lt;U&gt;Registration Form Details&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!BuildFormData}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finished_Message4</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Need some help? &lt;A HREF=&quot;mailto:info@studentsrebuild.org?Registration%20Question&quot; TARGET=&quot;_blank&quot;&gt;Contact us.&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pick_Existing_Team</name>
        <label>Pick Existing Team</label>
        <locationX>1199</locationX>
        <locationY>555</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Outputs</targetReference>
        </connector>
        <fields>
            <name>MultipleTeamsText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Hi There!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Looks like we&amp;apos;ve found these team names associated with your email address for the &lt;FONT COLOR=&quot;#0B7577&quot;&gt;{!soCampaign.Name}&lt;/FONT&gt;!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message33</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Please submit final numbers for each team that participates. Go ahead and select a team to continue.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Select_Contact</name>
            <choiceReferences>Teams</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Team&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Challenge</name>
        <label>Challenge Info</label>
        <locationX>991</locationX>
        <locationY>802</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Valid_Results</targetReference>
        </connector>
        <fields>
            <name>WelcomeText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_serif&quot; STYLE=&quot;font-size:28px&quot; COLOR=&quot;#0B7577&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Please enter your team&amp;apos;s details!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message100</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Below you&amp;apos;ll input the total number of items and total number of young people who participated on your team in the {!soCampaign.Name}.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message101</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If you&amp;apos;re returning to this page to submit additional items, please make sure the total includes all items you&amp;apos;ve created for this Challenge.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Message101</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_FirstName</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;First Name: {!soContact.FirstName}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_LastName</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Last Name: {!soContact.LastName}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_TeamName</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Team Name: {!soMember.SR_Team_Name__c}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_ErrorMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varErrorResults}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_TotalItems</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>soMember.SR_Number_of_Items__c</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Total Items&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Screen_Total_Young_People</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>soMember.SR_Number_of_Young_People__c</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Total Young People&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Flow_Id</startElementReference>
    <textTemplates>
        <name>ttPDFFormData</name>
        <text>Thanks for submitting your final numbers to Students Rebuild!
We&apos;re so grateful you and your team took part in the {!soCampaign.Name}. 

We&apos;re excited to see your self-portraits arrive in the mail or receive the digital images by May 4, 2018!

Please include this PDF copy of your submission slip if you&apos;re mailing
your items to Students Rebuild at: 

Students Rebuild
2400 1st Ave South #336
Seattle, WA 98134

Thanks again!

Unique Id for your mail package: {!soMember.Id}
{!soContact.FirstName} {!soContact.LastName}
{!soMember.Email} 
Team: {!soMember.SR_Team_Name__c}
Organization: {!soOrganization.Name}
Total Items: {!Screen_TotalItems}
Total Participants: {!Screen_Total_Young_People}</text>
    </textTemplates>
    <variables>
        <name>soCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>soCollectionMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>soCollectionSRResultHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SR_Result_Old__History</objectType>
    </variables>
    <variables>
        <name>soContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>soMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>soOrganization</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>soSRResultHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SR_Result_Old__History</objectType>
    </variables>
    <variables>
        <name>varErrorResults</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varFlowId</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Rebuild II: 701c0000000FqDiAAK</description>
        <name>varInputCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>7010G000000z3QV</stringValue>
        </value>
    </variables>
    <variables>
        <name>varInputContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varLogEnabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varLogTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOutputMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOutputReturnUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>/sr_existingmember</stringValue>
        </value>
    </variables>
    <variables>
        <name>varOverrideInputCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>daveb@501commons.org: 003c000000p9eFCAAY
dboyceman@hotmail.com: 003c000000rX6QmAAK</description>
        <name>varOverrideInputContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSRResultHistory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSRResultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
