src/flows/Submission-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Digital_Email</name>
        <label>Send Digital Email</label>
        <locationX>336</locationX>
        <locationY>1159</locationY>
        <actionName>CampaignMember.SR_Submission_Digital_Legacy_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Digital_URL</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>soMember.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Physical_Email</name>
        <label>Send Physical Email</label>
        <locationX>251</locationX>
        <locationY>1266</locationY>
        <actionName>CampaignMember.SR_Submission_Physical_Legacy_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Finish_Physical</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>soMember.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Build_SR_History</name>
        <label>Build SR History</label>
        <locationX>62</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>varSRResultHistory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BuildSRResultHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Return_Path</name>
        <label>Clear Return Path</label>
        <locationX>435</locationX>
        <locationY>1006</locationY>
        <assignmentItems>
            <assignToReference>varReturnPath</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Challenge_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Total</name>
        <label>Clear Total</label>
        <locationX>438</locationX>
        <locationY>667</locationY>
        <assignmentItems>
            <assignToReference>soMember.SR_Number_of_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soMember.SR_Number_of_Young_People__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Build_SR_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flow_Id</name>
        <label>Flow Id</label>
        <locationX>22</locationX>
        <locationY>13</locationY>
        <assignmentItems>
            <assignToReference>varFlowId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Body_Start</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Overrides</name>
        <label>Overrides</label>
        <locationX>385</locationX>
        <locationY>147</locationY>
        <assignmentItems>
            <assignToReference>varInputContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOverrideInputContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputCampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOverrideInputCampaignId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Digital_Results</name>
        <label>Set Digital Results</label>
        <locationX>1016</locationX>
        <locationY>1028</locationY>
        <assignmentItems>
            <assignToReference>soResult.SR_Number_of_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_TotalItems_Digital</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soResult.SR_Number_of_Young_People__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_Total_Young_People_Digital</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SR_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Physical_Results</name>
        <label>Set Physical Results</label>
        <locationX>1272</locationX>
        <locationY>953</locationY>
        <assignmentItems>
            <assignToReference>soResult.SR_Number_of_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_TotalItems_Physical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soResult.SR_Number_of_Young_People__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_Total_Young_People_Physical</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SR_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Return_Path</name>
        <label>Set Return Path</label>
        <locationX>619</locationX>
        <locationY>828</locationY>
        <assignmentItems>
            <assignToReference>varReturnPath</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Screen_Challenge</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SR_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Return_Url</name>
        <label>Set Return Url</label>
        <locationX>976</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>varOutputReturnUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/sr_newmember</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finished_Registration_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Start_Build_SR_History</name>
        <label>Start Build SR History</label>
        <locationX>265</locationX>
        <locationY>654</locationY>
        <assignmentItems>
            <assignToReference>varSRResultHistory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textResultHistoryStart</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SR_Results_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Body_Start</name>
        <label>Start Log</label>
        <locationX>179</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>varTaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FlowMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-Start</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Body_Start_0</name>
        <label>Error Log</label>
        <locationX>3227</locationX>
        <locationY>91</locationY>
        <assignmentItems>
            <assignToReference>varTaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FlowMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Logging_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Total</name>
        <label>Update Total</label>
        <locationX>234</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>soMember.SR_Number_of_Items__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soResult.SR_Number_of_Items__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soMember.SR_Number_of_Young_People__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soResult.SR_Number_of_Young_People__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SR_Results_History</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Digital_Items</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email photos&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Screen_Digital_Items</stringValue>
        </value>
    </choices>
    <choices>
        <name>Physical_Items</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Mail art&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Screen_Physical_Items</stringValue>
        </value>
    </choices>
    <constants>
        <name>constLine</name>
        <dataType>String</dataType>
        <value>
            <stringValue>__________________________________________________</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Challenge_Selection_Type</name>
        <label>Challenge Selection Type</label>
        <locationX>766</locationX>
        <locationY>1183</locationY>
        <defaultConnector>
            <targetReference>Screen_Challenge_Digital</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Digital Items</defaultConnectorLabel>
        <rules>
            <name>Physical_Items_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Physical_Items</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Challenge_Physical</targetReference>
            </connector>
            <label>Physical Items Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Challenge_Selection_Type_0</name>
        <label>Challenge Selection Type</label>
        <locationX>119</locationX>
        <locationY>1100</locationY>
        <defaultConnector>
            <targetReference>Send_Digital_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Digital Items</defaultConnectorLabel>
        <rules>
            <name>Physical_Items_Selected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Physical_Items</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Physical_Email</targetReference>
            </connector>
            <label>Physical Items Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Overrides</name>
        <label>Use Overrides</label>
        <locationX>182</locationX>
        <locationY>150</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Overrides</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOverrideInputContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOverrideInputCampaignId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Overrides</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Return_Path</name>
        <label>Check Return Path</label>
        <locationX>116</locationX>
        <locationY>1002</locationY>
        <defaultConnector>
            <targetReference>Challenge_Selection_Type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Path_Screen_Challenge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReturnPath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screen_Challenge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Return_Path</targetReference>
            </connector>
            <label>Path_Screen_Challenge</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Team</name>
        <label>Create Team</label>
        <locationX>783</locationX>
        <locationY>618</locationY>
        <defaultConnector>
            <targetReference>Update_Team_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Team</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Contact</name>
        <label>Existing Contact NotUnique</label>
        <locationX>778</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Set_Return_Url</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ContactExisting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Member</name>
        <label>Existing Member</label>
        <locationX>974</locationX>
        <locationY>521</locationY>
        <defaultConnector>
            <targetReference>Set_Return_Url</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOutputMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Team</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Logging</name>
        <label>Logging</label>
        <locationX>340</locationX>
        <locationY>38</locationY>
        <defaultConnector>
            <targetReference>Check_Overrides</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Logging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLogEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Log_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Logging_0</name>
        <label>Logging</label>
        <locationX>3397</locationX>
        <locationY>92</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Logging_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLogEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Update_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Kasey: Finish page language update</description>
    <dynamicChoiceSets>
        <name>Countries</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SR_Country__c</picklistField>
        <picklistObject>CampaignMember</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HearAbout</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hear_About__c</picklistField>
        <picklistObject>CampaignMember</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Roles</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SR_RoleList__c</picklistField>
        <picklistObject>CampaignMember</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Teams</name>
        <dataType>String</dataType>
        <displayField>SR_Team_Name__c</displayField>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputCampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.Email</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>soMember.AccountAffiliation__c</assignToReference>
            <field>AccountAffiliation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_Number_of_Items__c</assignToReference>
            <field>SR_Number_of_Items__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_Number_of_Young_People__c</assignToReference>
            <field>SR_Number_of_Young_People__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_Result__c</assignToReference>
            <field>SR_Result__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_Team_Name__c</assignToReference>
            <field>SR_Team_Name__c</field>
        </outputAssignments>
        <sortField>SR_Team_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>BuildFormData</name>
        <dataType>String</dataType>
        <expression>&quot;Unique Id for your mail package: &quot; + {!soMember.Id} + &quot;&lt;br&gt;&quot; +
{!soContact.FirstName} + &quot; &quot; + {!soContact.LastName} + &quot;&lt;br&gt;&quot; +
{!soMember.Email} + &quot;&lt;br&gt;&quot; +
&quot;Team: &quot; + {!soMember.SR_Team_Name__c} + &quot;&lt;br&gt;&quot; +
&quot;Organization: &quot; + {!soMember.CompanyOrAccount} + &quot;&lt;br&gt;&quot; +
&quot;Total Items: &quot; + TEXT({!soMember.SR_Number_of_Items__c}) + &quot;&lt;br&gt;&quot; +
&quot;Total Young People: &quot; + TEXT({!soMember.SR_Number_of_Young_People__c}) + &quot;&lt;br&gt;&quot; +
&quot;&lt;br&gt;&lt;br&gt;&quot; + {!varSRResultHistory}</expression>
    </formulas>
    <formulas>
        <name>BuildFormDataForObject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!BuildFormData}, &quot;&lt;br&gt;&quot;, &quot;_BR_ENCODED_&quot;)</expression>
    </formulas>
    <formulas>
        <name>BuildSRResultHistory</name>
        <dataType>String</dataType>
        <expression>TEXT(DATEVALUE({!soResult.CreatedDate}))
+ &quot;, # Items:  &quot;
+ TEXT({!soResult.SR_Number_of_Items__c})
+ &quot;, # Young People: &quot;
+ TEXT({!soResult.SR_Number_of_Young_People__c})
+ &quot;&lt;br&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>FlowMessage</name>
        <dataType>String</dataType>
        <expression>TEXT({!varFlowId}) + &quot; &quot; + {!Screen_Email_Register} + &quot; Flow Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>getNewResultName</name>
        <dataType>String</dataType>
        <expression>&quot;Result - &quot; + TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <interviewLabel>Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submission</label>
    <loops>
        <name>SR_Results_History</name>
        <label>SR Results History</label>
        <locationX>107</locationX>
        <locationY>656</locationY>
        <assignNextValueToReference>soResult</assignNextValueToReference>
        <collectionReference>soTeamResults</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_SR_History</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <description>UserId 501c: 005F0000001kJvsIAE</description>
        <name>Create_Log_Task</name>
        <label>Create Log Task</label>
        <locationX>522</locationX>
        <locationY>35</locationY>
        <assignRecordIdToReference>varLogTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Overrides</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005F0000001kJvsIAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>FlowMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Team</name>
        <label>Create New Team</label>
        <locationX>613</locationX>
        <locationY>622</locationY>
        <assignRecordIdToReference>varTeamId</assignRecordIdToReference>
        <connector>
            <targetReference>Set_New_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign_Member_Id__c</field>
            <value>
                <elementReference>soMember.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>varInputCampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leader__c</field>
            <value>
                <elementReference>soMember.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>soMember.SR_Team_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>SR_Team__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SR_Result</name>
        <label>Create SR Result</label>
        <locationX>722</locationX>
        <locationY>939</locationY>
        <assignRecordIdToReference>varSRResultId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_SR_History</targetReference>
        </connector>
        <inputAssignments>
            <field>Confirmation_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>getNewResultName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Number_of_Items__c</field>
            <value>
                <elementReference>soResult.SR_Number_of_Items__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Number_of_Young_People__c</field>
            <value>
                <elementReference>soResult.SR_Number_of_Young_People__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Team__c</field>
            <value>
                <elementReference>varTeamId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SR_Result__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>260</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputCampaignId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soCampaign.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soCampaign.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_NonUnique</name>
        <label>Get Contact</label>
        <locationX>776</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Screen_Email_Register</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>soContact.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInputContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Member</name>
        <label>Get Member</label>
        <locationX>781</locationX>
        <locationY>521</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Member</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCampaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Screen_Email_Register</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>soMember.CompanyOrAccount</assignToReference>
            <field>CompanyOrAccount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOutputMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_Team_Name__c</assignToReference>
            <field>SR_Team_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soMember.SR_Team__c</assignToReference>
            <field>SR_Team__c</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_SR_History</name>
        <label>Get SR History</label>
        <locationX>433</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_Total</targetReference>
        </connector>
        <filters>
            <field>SR_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamId</elementReference>
            </value>
        </filters>
        <object>SR_Result__c</object>
        <outputReference>soTeamResults</outputReference>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>SR_Number_of_Items__c</queriedFields>
        <queriedFields>SR_Number_of_Young_People__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Team</name>
        <label>Get Team</label>
        <locationX>978</locationX>
        <locationY>617</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Team</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Body_Start_0</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soMember.SR_Team_Name__c</elementReference>
            </value>
        </filters>
        <object>SR_Team__c</object>
        <outputAssignments>
            <assignToReference>varTeamId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Log_Update_0</name>
        <label>Log Update</label>
        <locationX>3400</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLogTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_New_Team</name>
        <label>Set New Team</label>
        <locationX>617</locationX>
        <locationY>712</locationY>
        <connector>
            <targetReference>Set_Return_Path</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soMember.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SR_Team__c</field>
            <value>
                <elementReference>varTeamId</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Digital_URL</name>
        <label>Update Digital URL</label>
        <locationX>482</locationX>
        <locationY>1159</locationY>
        <connector>
            <targetReference>Finish_Digital</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSRResultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Digital_Content_Url__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <object>SR_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member</name>
        <label>Update Member</label>
        <locationX>105</locationX>
        <locationY>837</locationY>
        <connector>
            <targetReference>Check_Return_Path</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soMember.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SR_FormData__c</field>
            <value>
                <elementReference>BuildFormDataForObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_PDF_FormData__c</field>
            <value>
                <elementReference>ttPDFFormData</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Team_Name</name>
        <label>Update Team Name</label>
        <locationX>779</locationX>
        <locationY>715</locationY>
        <connector>
            <targetReference>Set_New_Team</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Campaign_Member_Id__c</field>
            <value>
                <elementReference>soMember.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>varInputCampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>soMember.SR_Team_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>SR_Team__c</object>
    </recordUpdates>
    <screens>
        <name>Challenge_Type</name>
        <label>Challenge Type</label>
        <locationX>754</locationX>
        <locationY>1073</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Challenge_Selection_Type</targetReference>
        </connector>
        <fields>
            <name>Display_Type_Header</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_serif&quot; STYLE=&quot;font-size:28px&quot; COLOR=&quot;#006666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Tell us how you’re sending your art!&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:26px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Challenge_Type_Header</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You can email us photos of your art or mail it to us. We’re happy to get it either way, though if you mail it in, your art will have the opportunity to appear in a culminating exhibit at the end of this year’s Challenge.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Challenge_Type</name>
            <choiceReferences>Digital_Items</choiceReferences>
            <choiceReferences>Physical_Items</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email</name>
        <label>Email</label>
        <locationX>509</locationX>
        <locationY>303</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact_NonUnique</targetReference>
        </connector>
        <fields>
            <name>Welcome_Message1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_serif&quot; STYLE=&quot;font-size:28px&quot; COLOR=&quot;#006666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Submit your final numbers!&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_Message2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Thank you for taking the &lt;FONT COLOR=&quot;#0B7577&quot;&gt;&lt;B&gt;{!soCampaign.Name}&lt;/B&gt;&lt;/FONT&gt;!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Art</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This is where art turns into action. Fill out our brief form to tell us how many pieces of art you made, and we’ll match every piece with a donation to our partners The Nature Conservancy and Ocean Collectiv’s portfolio of mini-grants. If your team makes additional art, please come back to enter your new numbers.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message5</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;To get started, enter the email used when registering your team.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank_space_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Email_Register</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>REGEX({!Screen_Email_Register},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>blank_space_2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_Message4</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Do you have a question or need help? &lt;A HREF=&quot;mailto:info@studentsrebuild.org?Registration%20Question&quot; TARGET=&quot;_blank&quot;&gt;Contact us&lt;/A&gt;!&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>3565</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Sorry, it looks like something went wrong! &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!constLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!constLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Please &lt;A HREF=&quot;mailto:info@studentsrebuild.org?subject=Students%20Rebuild&quot; TARGET=&quot;_blank&quot;&gt;Contact us&lt;/A&gt; with the error details provided on this screen for help.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Digital</name>
        <label>Finish Digital</label>
        <locationX>622</locationX>
        <locationY>1159</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishedText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_serif&quot; STYLE=&quot;font-size:26px&quot; COLOR=&quot;#006666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Thank you for your contribution! &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finished_Message2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;We’re so grateful that you and your team took part in the &lt;FONT COLOR=&quot;#006666&quot;&gt;&lt;B&gt;{!soCampaign.Name}&lt;/B&gt;&lt;/FONT&gt; and can’t wait to se your photos. Please email group photos or pictures of select art pieces to us at &lt;A HREF=&quot;mailto: info@studentsrebuild.org&quot; TARGET=&quot;_blank&quot;&gt;info@studentsrebuild.org&lt;/A&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Finished4</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Be sure to celebrate your team&amp;apos;s hard work! A &lt;A HREF=&quot;https://www.studentsrebuild.org/sites/default/files/OC_Participation%20Certificate_%20FNL.pdf&quot; TARGET=&quot;_blank&quot;&gt;Participation Certificate&lt;/A&gt; is available for you to share with your team. You can also continue to utilize the Ocean Challenge &lt;A HREF=&quot;https://www.studentsrebuild.org/ocean-resources&quot; TARGET=&quot;_blank&quot;&gt;learning resources&lt;/A&gt; and, if you&amp;apos;d like, create additional sea creatures for submission all the way up until the Challenge ends on June 8, 2019.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Finish_Digital_Info2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thanks again for being part of the Students Rebuild global community!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Spacer1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Spacer2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_FormData</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;&lt;U&gt;Registration Form Details&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!BuildFormData}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Spacer3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Spacer4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finished_Message4</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Need some help? &lt;A HREF=&quot;mailto:info@studentsrebuild.org?Registration%20Question&quot; TARGET=&quot;_blank&quot;&gt;Contact us&lt;/A&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Physical</name>
        <label>Finish Physical</label>
        <locationX>479</locationX>
        <locationY>1263</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishedText_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_serif&quot; STYLE=&quot;font-size:26px&quot; COLOR=&quot;#006666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Thank you for your contribution!&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finished_Message2_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;We’re so grateful that you and your team took part in the &lt;FONT COLOR=&quot;#006666&quot;&gt;&lt;B&gt;{!soCampaign.Name}&lt;/B&gt;&lt;/FONT&gt; and can’t wait to receive your package of art. It typically takes about 3-4 weeks to receive and process each package, but you can expect another message from us when we receive your art.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Finished4_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Be sure to celebrate your team&amp;apos;s hard work! A &lt;A HREF=&quot;https://www.studentsrebuild.org/sites/default/files/OC_Participation%20Certificate_%20FNL.pdf&quot; TARGET=&quot;_blank&quot;&gt;Participation Certificate&lt;/A&gt; is available for you to share with your team. You can also continue to utilize the Ocean Challenge &lt;A HREF=&quot;https://www.studentsrebuild.org/ocean-resources&quot; TARGET=&quot;_blank&quot;&gt;learning resources&lt;/A&gt; and, if you&amp;apos;d like, create additional sea creatures for submission all the way up until the Challenge ends on June 8, 2019.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Physical_End_Info</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Please select the Print PDF button above for a PDF file of your submission to include in your package. You will also receive an email with submission details at {!Screen_Email_Register} in case you need to print them at a later time.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Submission_Physical_Thanks</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thanks again for being a part of the Students Rebuild global community!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Spacer1_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Spacer2_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_FormData_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;&lt;U&gt;Registration Form Details&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!BuildFormData}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Spacer3_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Spacer4_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finished_Message4_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Need some help? &lt;A HREF=&quot;mailto:info@studentsrebuild.org?Registration%20Question&quot; TARGET=&quot;_blank&quot;&gt;Contact us&lt;/A&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finished_Registration_0</name>
        <label>No Teams</label>
        <locationX>1156</locationX>
        <locationY>411</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Submission_Message_NoTeam</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Sorry, we didn’t find a team associated with the provided email: {!Screen_Email_Register}.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message10</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;If you haven&amp;apos;t registered yet, you can still do so &lt;A HREF=&quot;http://www.studentsrebuild.org/register&quot; TARGET=&quot;_blank&quot;&gt;here&lt;/A&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finished_Message4_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;If you have a question or need help, &lt;A HREF=&quot;mailto: info@studentsrebuild.org&quot; TARGET=&quot;_blank&quot;&gt;contact us&lt;/A&gt;!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Challenge_Digital</name>
        <label>Challenge Digital</label>
        <locationX>1017</locationX>
        <locationY>1120</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Digital_Results</targetReference>
        </connector>
        <fields>
            <name>WelcomeText_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_serif&quot; STYLE=&quot;font-size:28px&quot; COLOR=&quot;#006666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Please enter your team&amp;apos;s details!&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message100_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Please input the number of participants and pieces of art {!soMember.SR_Team_Name__c} made for the {!soCampaign.Name}.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message101_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Returning to this page to submit additional items? View your submission history below and please make sure subsequent submissions contain only the new&lt;I&gt; &lt;/I&gt;numbers of participants and pieces of art as totals are cumulative.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Message101_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_FirstName_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;First Name: {!soContact.FirstName}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_LastName_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Last Name: {!soContact.LastName}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_TeamName_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Team Name: {!soMember.SR_Team_Name__c}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Spacer2_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Total_Young_People_Digital</name>
            <dataType>Number</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Total Young People&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Screen_TotalItems_Digital</name>
            <dataType>Number</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Total Items&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Display_Spacer1_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Result_History_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varSRResultHistory}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Challenge_Physical</name>
        <label>Challenge Physical</label>
        <locationX>1281</locationX>
        <locationY>1175</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Physical_Results</targetReference>
        </connector>
        <fields>
            <name>WelcomeText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;_serif&quot; STYLE=&quot;font-size:28px&quot; COLOR=&quot;#006666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Please enter your team&amp;apos;s details!&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message100</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Please input the number of participants and pieces of art {!soMember.SR_Team_Name__c} made for the {!soCampaign.Name}.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_Message101</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Returning to this page to submit additional items? View your submission history below and please make sure subsequent submissions contain only the new&lt;I&gt; &lt;/I&gt;numbers of participants and pieces of art as totals are cumulative.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Message101</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_FirstName</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;First Name: {!soContact.FirstName}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_LastName</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Last Name: {!soContact.LastName}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_TeamName</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Team Name: {!soMember.SR_Team_Name__c}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Spacer1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Total_Young_People_Physical</name>
            <dataType>Number</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Total Young People&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Screen_TotalItems_Physical</name>
            <dataType>Number</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Total Items&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Display_Spacer2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Result_History</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varSRResultHistory}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Flow_Id</startElementReference>
    <textTemplates>
        <name>textResultHistoryStart</name>
        <text>Result History&lt;br&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttPDFFormData</name>
        <text>Hi {!soContact.FirstName},

We’re so grateful that you and your team took part in the {!soCampaign.Name}
and can’t wait to receive your package of art. It typically takes
about 3-4 weeks to receive and process each package,
but you can expect another message from us when we receive your art.

Be sure to celebrate your team&apos;s hard work! A Participation Certificate
is available for you to share with your team.
You can also continue to utilize the Ocean Challenge learning resources
and, if you&apos;d like, create additional sea creatures for submission
all the way up until the Challenge ends on June 8, 2019.

Please include this PDF copy of your submission slip if you&apos;re mailing
your items to Students Rebuild at: 

Students Rebuild
2400 1st Ave South #336
Seattle, WA 98134

Thanks again!

Submit Date: {!$Flow.CurrentDate}
Number of Items: {!soResult.SR_Number_of_Items__c}
Number of Young People: {!soResult.SR_Number_of_Young_People__c}

Unique Id for your mail package: {!soMember.Id}
{!soContact.FirstName} {!soContact.LastName}
Email: {!soMember.Email}
Team: {!soMember.SR_Team_Name__c}
Organization: {!soMember.CompanyOrAccount} 
Total Items: {!soMember.SR_Number_of_Items__c}
Total Young People: {!soMember.SR_Number_of_Young_People__c}</text>
    </textTemplates>
    <variables>
        <name>soCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>soCollectionMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>soCollectionSRResultHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SR_Result_Old__History</objectType>
    </variables>
    <variables>
        <name>soContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>soMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>soOrganization</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>soResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SR_Result__c</objectType>
    </variables>
    <variables>
        <name>soSRResultHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SR_Result_Old__History</objectType>
    </variables>
    <variables>
        <name>soTeamResults</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SR_Result__c</objectType>
    </variables>
    <variables>
        <name>varErrorResults</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varFlowId</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Rebuild II: 701c0000000FqDiAAK</description>
        <name>varInputCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>7010G000001VK2U</stringValue>
        </value>
    </variables>
    <variables>
        <name>varInputContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varLogEnabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varLogTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOutputMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOutputReturnUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>/sr_existingmember</stringValue>
        </value>
    </variables>
    <variables>
        <name>varOverrideInputCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>daveb@501commons.org: 003c000000p9eFCAAY
dboyceman@hotmail.com: 003c000000rX6QmAAK</description>
        <name>varOverrideInputContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varReturnPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSRResultHistory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSRResultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTeamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
